@charset "UTF-8";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Merriweather', arial;
}

a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

hover:a {
	text-decoration: none;
}

/* Header */

.header {
    display: table;
    position: relative;
	width: 50%;
    height: 100%;
    background: url(../img/mercedes.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#introtext {
	padding-top: 10%;
	position: relative;
}

.navbar {
	position: absolute;
	background-color: transparent;
	border: none;
}

.navbar a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#donate {
	color: white;
	background-color: #D21F22;
}


span {
	color: #00858e;
	background-color: #E4E4E4;
	padding: 1%;
	font-weight: 700;
	font-size: 1.2em;
}

#logo {
	width: 60%;
	padding-bottom: 1%;
}

#stories {
	background-color: #E5E5E5;
}

#header h1 {
	font-size: 3.5em;
	font-weight: 700;
}

#header h3 {
	font-size: 1.2em;
	font-family: 'Merriweather', arial;
	line-height: 1.5;
	padding-left: 1.5%;
	padding-right: 1.5%;
	color: #2C2C2C;
}

#down {
	width: 10%;
}

#story1 {
	color: white;
	display: block;
    position: relative;
	width: 50%;
    height: 100%;
	padding: 10%;
    background: url(../img/mercedes.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#story1 a h1 {
	display: block;
	text-decoration: none;
	opacity: 0;
}

#story1:hover a h1 {
   color: white;
   opacity: 0.8;
   background-color: rgba(49,49,49);
   text-decoration: none;
}

#story1:hover h1 {
   background-color: #00858e;
   color: white;
   display: block;
   text-decoration: none;
}

#story1, h1 {
   font-size: 70px;
}

#story2 {
	color: white;
	display: block;
    position: relative;
	width: 50%;
    height: 100%;
	padding: 10%;
    background: url(../img/delia.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#story2 a h1 {
	display: block;
	text-decoration: none;
	opacity: 0;
}

#story2:hover a h1 {
   color: white;
   opacity: 0.8;
   background-color: rgba(49,49,49);
}

#story2:hover h1 {
   background-color: #00858e;
   color: white;
   display: block;
}

#story2, h1 {
   font-size: 70px;
}

#bottomlogo {
	max-width: 80%;
}

#twitter-logo {
	width: 13%;
}

#youtube-logo {
	width: 20%;
	margin-left: -3%;
}

#instagram-logo {
	width: 8.5%;
}

#copyright {
	background-color: #E5E5E5;
}

@media (max-width: 1199px) {
	#fb-logo {
		width: 8%;
	}
}

@media (max-width: 991px) {
	.header {
    display: table;
    position: relative;
	width: 100%;
    height: 50%;
    background: url(../img/mercedes.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
	
	#story1 {
	display: table;
    position: relative;
	width: 100%;
    height: 100%;
    background: url(../img/mercedes.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#story2 {
	display: table;
    position: relative;
	width: 100%;
    height: 100%;
    background: url(../img/delia.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#fb-logo {
	width: 8%;
}

#twitter-logo {
	width: 13%;
}

#youtube-logo {
	width: 18%;
	margin-left: -3%;
}

#instagram-logo {
	width: 7%;
}
	}

@media (max-width: 991px) {
	#fb-logo {
	width: 18%;
}

#twitter-logo {
	width: 8%;
}

#youtube-logo {
	width: 12%;
	margin-left: -3%;
}

#instagram-logo {
	width: 9%;
}
}

@media (max-width: 767px) {
	#logo {
	max-width: 70%;
	}
	#socialtop {
		padding-bottom: 5%;
	}
	#fb-logo { 
	width: 7%;
	}
	
	#twitter-logo {
	width: 13%;
}

#youtube-logo {
	width: 18%;
	margin-left: -3%;
}

#instagram-logo {
	width: 8%;
}
}

